<header>
    <div class="header-container">
        <a href="/">
            <div>
                <img class="logo" height="100" width="200" src="/public/Images/0_Sonstige/logo.jpeg">
            </div>
        </a>
        <div class="header-suche">
            <div>
                Suche:
                <input type = "text" placeholder = "z.B. Marke oder Modell" name="suche" value="<%= searchOptions.suche %>"/>
            </div>
        </div>
    </div>
</header>