<header>
    <div class="header-container">
        <a href="/">
            <img class="mydirtycarLogo" src="/Images/0_Sonstige/logo.jpeg">
        </a>
        <div class="header-suche">
            Suche:
            <input type = "text" placeholder = "z.B. Marke oder Modell" name="suche" value="<%= searchOptions.suche %>"/>
        </div>
    </div>
</header>