<h2>Index</h2>
<div>
    <div>autos:</div>
    <div>Automarke:</div>
    <div><%= autoMarke%></div>
    <br>
    <div>Modell:</div>
    <div><%= autoModell%></div>
    <br>
    <div>Emission:</div>
    <div><%= autoEmission%></div>
</div>