
.Hintergrund{
    background: black url(Images/Hintergrundbild1.jpg);
    background-size: cover;
}

.header{
    color: black;
    background-color: gray;
}

.filter{
    background:linear-gradient(to bottom,rgb(130, 130, 130),rgb(250,250,250));
    border: 3px solid #333;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    padding-right: 15px;
}

.filtertitle{
    padding-bottom: 15px;
}


.jumbotron {
    padding: 1rem 1rem;
    background: none;
}

.container { 
    margin-left: 1px;
    margin-right: 1px;
    max-width: 10000px;
    padding-bottom: 100px;


}

.Suche{
    margin-left: 70rem;
    margin-right: 5rem;
    border-radius: 6%;
    margin-top: -90px;
}

.carblock{
    background-color:rgba(0, 0, 0, 0.5);
    margin-left: 100px;
    color: white;
    padding-top: 10px;
    text-align: center;
    margin-right: 30px;
    height: 500px;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;

}


.logo{
    margin-left: -1100px;
    margin-top: -100px;
}


.chosencars img {
    width: 800px;
    padding-right: 200px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.boxes{
    width: 800px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
}

.detailbtn{
    margin-left: 500px;
    margin-bottom: 20px;
}


.cardetail{
    background-color: white;
    text-align: center;
}

.cardetail img{
    width: 800px;
}


  
.range{
    margin-top: 10px;
    margin-left: 5px;
}

/*Slider*/
input[type=range]:focus {
    outline: none;
  }
  
  input[type=range] {
    -webkit-appearance: none;
    margin-top: 1px;
    width: 100%;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background-color: silver;
    border-radius: 5px;
  }
  
  

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 8px solid gray;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -10px;
  }
  
  
  input[type=range]::-ms-fill-lower {
    background-color: gray;
    border-radius: 5px;
  }
  input[type=range]::-ms-fill-upper {
    background-color: silver;
    border-radius: 5px;
  }

  input[type=range]::-ms-tooltip {
    display: none;
}






.detailbox{
    max-height: 200px;
    overflow: auto;
}

.searchbtn{
    margin-left: 250px;
}


.textfield{
    margin-right: 10px;
}


.schrift{
    font-size: 80%;
}