.header-container {
    display:flex;
    align-items: center;
    border-bottom: 3px solid rgb(256, 256, 256);
    background: linear-gradient(to right,rgb(10, 10, 10),rgb(140,140,140));
}

.carhubLogo {
    width: 300px;
    height: 100px;
    margin-left: 30%;
}
